* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --color-white: rgb(22, 22, 22);
    --color-gray: #008311;
    --background-page: #fffdfd;
    --shadow: #eeeeee;
    --green: rgb(166, 255, 166);
    --weight-gray: #c4c4c4;
}

body, html {
    background: var(--background-page);
}

.navbar {
    padding: 20px;
    width: 100%;
    font-size: 24px;
    background: var(--color-gray);
    color: var(--color-white);
}

.redTitle {
    color: var(--background-page);
    font-weight: 800;
}

.PersonalDatas {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    max-width: 50%;
    gap: 10px;
    text-align: center;
    flex-direction: column;
}

.fotoPersonale {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.experienceWork {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.experience {
    width: 100%;
    padding: 20px;
    background: var(--color-white);
    border-radius: 26px;
}

.experience details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s;
    max-height: 100px;
    overflow: hidden;
}

.experience details[open] {
    max-height: 300px;
}

.titleEx {
    color: rgb(238, 238, 238) !important;
    font-weight: 600 !important;
}

.Project {
    color: #afafaf;
}

.experience details summary {
    font-size: 24px;
    color: var(--color-gray);
}

.experience details span {
    color: var(--weight-gray);
    font-size: 18px;
}

.titlePage {
    font-size: 24px;
    font-weight: 600;
}

.objectNavbar {
    list-style: none;
    margin-bottom: 0px;
}

.cardLang {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3.2);
    height: 150px;
    padding: 10px;
    border-radius: 26px;
    color: white;
    background: var(--color-gray);
    flex-direction: column;
    box-shadow: 0px 4px 16px var(--shadow);
    text-align: center;
    gap: 10px;
}

.nameLang {
    font-weight: 600;
    font-size: 18px;
}

.descriptionLang {
    font-size: 14px;
}

input[type = "range"] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 26px;
    background: white;
    height: 20px;
}

input[type = "range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background: var(--green);
    border-radius: 50%;
}

.frontEndLanguages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.AllPartFronEnd {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}
  
.visible {
    opacity: 1;
    transform: translateY(0);
}  

.AllPartFronEnd h1 {
    font-size: 32px;
    font-weight: 600;
    color: var(--color-white);
}

.fotoPersonale {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.imagePersonal {
    border-radius: 50%;
    object-fit: cover;
    opacity: 0; /* Inizia trasparente */
    transform: scale(10) translateX(-200px); /* Inizia piccola */
    transition: opacity 1s ease, transform 1s ease; /* Animazione smooth */
    box-shadow: 0px 4px 16px var(--color-gray);
}

/* Classe aggiunta durante l'animazione */
.imagePersonal-active {
    opacity: 1; /* Diventa visibile */
    transform: scale(1); /* Ridimensiona all'originale */
}

.footer {
    margin-top: 20px;
    background: var(--color-gray);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.titlePageName {
    font-size: 24px !important; 
    font-weight: 600 !important;
}

.titlePageDate {
    font-size: 20px !important;
    font-weight: 400 !important;
}

.titlePageDesc {
    font-size: 20px !important;
    font-weight: 400 !important;
}

.cardProject {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.cardPro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: var(--color-white);
    border-radius: 26px;
    max-width: 90%;
    min-width: 90%;
    padding: 20px;
    gap: 10px;
}

.googleCalendar {
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0px 4px 16px var(--weight-gray);
    margin-top: 20px;
    border-radius: 26px;
}

.googleCalendar iframe {
    overflow: scroll;
}

.nameLink {
    background: var(--green);
    padding: 20px;
    border-radius: 26px;
    color: var(--color-white);
    font-weight: 800;
    box-shadow: 0px 2px 8px var(--color-gray);
}

@media screen and (max-width: 600px) {
    .cardLang {
        width: calc(100%);
    }

    .imageMale {
        position: absolute;
        top: 40px;
        left: 40px;
        opacity: 30%;
    }

    summary {
        font-size: 20px !important;
        font-weight: 800;
    }

    .fotoPersonale {
        flex-direction: column-reverse;
    }

    .PersonalDatas {
        margin-top: 20px;
        min-width: 90%;
    }

    .PersonalDatas span {
        font-size: 16px;
    }

    .fotoPersonale img {
        max-width: 70%;
    }

    body, html {
        overflow-x: hidden;
    }

    .titlePageName {
        font-size: 28px !important; 
        font-weight: 600 !important;
    }
    
    .titlePageDate {
        font-size: 18px !important;
        font-weight: 400 !important;
    }
    
    .titlePageDesc {
        font-size: 18px !important;
        font-weight: 400 !important;
    }
}