* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --color-white: white;
    --color-gray: #303030;
    --background-page: #424242;
    --shadow: #747474;
    --green: rgb(166, 255, 166);
    --weight-gray: #272727;
}

body, html {
    background: var(--background-page);
}

.navbar {
    padding: 20px;
    width: 100%;
    font-size: 24px;
    background: var(--color-gray);
    color: var(--color-white);
}

.redTitle {
    color: var(--background-page);
    font-weight: 800;
}

.PersonalDatas {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    max-width: 50%;
    gap: 10px;
    text-align: center;
    flex-direction: column;
}

.fotoPersonale {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.experienceWork {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.experience {
    width: 100%;
    padding: 20px;
    background: var(--color-white);
    border-radius: 26px;
}

.experience details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.titleEx {
    color: rgb(100, 100, 100) !important;
}

.experience details summary {
    font-size: 24px;
    color: var(--color-gray);
}

.experience details span {
    color: #c1c1c1;
    font-size: 18px;
}

.titlePage {
    font-size: 24px;
    font-weight: 600;
}

.objectNavbar {
    list-style: none;
}

.cardLang {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3.2);
    height: 150px;
    padding: 10px;
    border-radius: 26px;
    color: white;
    background: var(--color-gray);
    flex-direction: column;
    box-shadow: 0px 4px 16px var(--shadow);
    text-align: center;
    gap: 10px;
}

.nameLang {
    font-weight: 600;
    font-size: 18px;
}

.descriptionLang {
    font-size: 14px;
}

input[type = "range"] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 26px;
    background: white;
    height: 20px;
}

input[type = "range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background: var(--green);
    border-radius: 50%;
}

.frontEndLanguages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.AllPartFronEnd {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px;
    border-radius: 25px;
}

.AllPartFronEnd h1 {
    font-size: 32px;
    font-weight: 600;
}

.fotoPersonale {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.fotoPersonale img {
    min-width: 30%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 4px 16px var(--shadow);
}

.footer {
    margin-top: 20px;
    background: var(--color-gray);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    .cardLang {
        width: calc(100%);
    }

    .imageMale {
        position: absolute;
        top: 40px;
        left: 40px;
        opacity: 30%;
    }

    .fotoPersonale {
        flex-direction: column-reverse;
    }

    .PersonalDatas {
        margin-top: 20px;
    }

    .PersonalDatas span {
        font-size: 16px;
    }

    .fotoPersonale img {
        max-width: 70%;
    }

    body, html {
        overflow-x: hidden;
    }
}